<p>Currently I'm exploring and learning among others: Python/Django, Grunt, Jasmine, Karma, Angular.js, Node.js, Twitter Bootstrap, Sass, Knockout.js</p>
<p>Here's my <a href="https://github.com/c-h-russell-walker">github</a> &amp; below are some sites I've worked on.</p>

<ul class="images">
    <li>
        <a rel="lightbox[examples]" 
             href="/images/portfolio/chefscollab.jpg" 
             title="&lt;a href=&quot;http://www.chefscollaborative.org&quot;
                                      onclick=&quot;window.open(&#39;http://www.chefscollaborative.org&#39;);&quot;
                                        &gt;Click Here To Visit Website&lt;/a&gt;">
            <img src="/images/portfolio/chefscollab-tn.jpg" 
            width="200" 
            height="135" 
            title="ChefsCollaborative.org" 
            alt="Chefs Collaborative"/>
        </a>
    </li>
    <li>
        <a rel="lightbox[examples]" 
             href="/images/portfolio/oceanfriendly.jpg" 
             title="&lt;a href=&quot;http://www.oceanfriendlychefs.org&quot;
                                      onclick=&quot;window.open(&#39;http://www.oceanfriendlychefs.org&#39;);&quot;
                                        &gt;Click Here To Visit Website&lt;/a&gt;">
            <img src="/images/portfolio/oceanfriendly-tn.jpg" 
            width="200" 
            height="135" 
            title="OceanFriendlyChefs.org" 
            alt="Ocean Friendly Chefs"/>
        </a>
    </li>
    <li>
        <a rel="lightbox[examples]" 
             href="/images/portfolio/dylan.jpg" 
             title="&lt;a href=&quot;http://www.dylankelehan.com&quot;
                                      onclick=&quot;window.open(&#39;http://www.dylankelehan.com&#39;);&quot;
                                        &gt;Click Here To Visit Website&lt;/a&gt;">
            <img src="/images/portfolio/dylan-tn.jpg" 
            width="200" 
            height="135" 
            title="DylanKelehan.com" 
            alt="Dylan Kelehan"/>
        </a>
    </li>
    <li>
        <a rel="lightbox[examples]" 
             href="/images/portfolio/campbell.jpg" 
             title="&lt;a href=&quot;http://www.jamescampbellconstruction.com&quot;
                                      onclick=&quot;window.open(&#39;http://www.jamescampbellconstruction.com&#39;);&quot;
                                        &gt;Click Here To Visit Website&lt;/a&gt;">
                <img src="/images/portfolio/campbell-tn.jpg" 
                width="200" 
                height="135" 
                title="JamesCampbellConstruction.com" 
                alt="James Campbell Construction"/>
        </a>
    </li>
    <li>
        <a rel="lightbox[examples]" 
             href="/images/portfolio/torchsongmetals.jpg" 
             title="&lt;a href=&quot;http://www.torchsongmetals.com&quot;
                                      onclick=&quot;window.open(&#39;http://www.torchsongmetals.com&#39;);&quot;
                                        &gt;Click Here To Visit Website&lt;/a&gt;">
                <img src="/images/portfolio/torchsongmetals-tn.jpg" 
                width="200" 
                height="135" 
                title="TorchSongMetals.com" 
                alt="Torch Song Metals"/>
        </a>
    </li>
</ul>