<div ng-controller="MainCtrl as mCtrl" ng-init="tab=1">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href ng:click="tab=1">Home</a></li>
      <li><a href ng:click="tab=2">Portfolio</a></li>
      <li><a href ng:click="tab=3">Resumé</a></li>
      <li><a href ng:click="tab=4">Contact</a></li>
    </ul>
    <h3 class="text-muted">crw</h3>
  </div>

  <div class="jumbotron">
    <div ng:show="tab == 1">
      Fill in main about me copy
    </div>

    <div ng:show="tab == 2">
        Fill in Portfolio
    </div>

    <div ng:show="tab == 3">
        Fill in Resume
    </div>
    <p class="lead">
      Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
  </div>

  <div class="row marketing">
    <h4>HTML5 Boilerplate</h4>
    <p>
      HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>

    <h4>Angular</h4>
    <p>
      AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
  </div>

  <div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
  </div>
</div>